/* Hero Title */
.hero-title {
  margin: 0;
  padding: 20px 0;
  text-align: center;
  margin-left: 220px; /* sidebar boşluğu */
  background: transparent;
}

.hero-title img.hero-logo {
  max-width: 700px; /* sidebar’ı geçmesin */
  width: 100%;
  height: auto;
  display: inline-block;
}

/* Slider */
.swiper {
  margin: 40px auto;
  width: 60%; /* sidebar’ı geçmez */
}

.swiper-slide img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev {
  color: #6A1B9A;
}

/* Ürünler */
.product-card a {
  text-decoration: none;
  color: inherit;
  display: block;
}
