@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

body {
  margin: 0;
  font-family: 'Parisienne', cursive;
  background-image: url("images/background/motif.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  background-attachment: scroll;
  color: #fff;
}

h1, h2, h3 {
  font-family: 'Parisienne', cursive;
  font-weight: 600;
  font-size: 32px;
  letter-spacing: 1px;
}

p, .lead, span {
  font-family: 'Parisienne', cursive;
  font-size: 18px;
  line-height: 1.6;
}

/* Sidebar, Topbar, Hero, Slider, Product grid, Brands grid vs. önceki düzenlemeler burada */
